/*.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(143, 110, 173);
    width: 1000px;
    height: 60px;
    margin-left: 20%;
    vertical-align: middle;
    z-index: 1;
}

.menu_item {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 7%;
    font-weight: bold;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 200px;
    height: 30px;
    border-radius: 4px;
    margin-top: 3%;
}

.menu_item:hover {
    background-color: rgb(212, 191, 230);
    color: rgb(113, 87, 138);
}

.menu_item:active {
    background-color: rgb(113, 87, 138);
    color: rgb(212, 191, 230);
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
}

.burger div {
    margin-top: 3%;
    text-align: center;
}

.burger div>nav {
    width: 200px;
    height: 30px;
    margin: 0.5%;
    color: rgb(212, 191, 230);
    background-color: rgb(113, 87, 138);
    border-radius: 5px;
    animation-name: anim;
    animation-duration: 2s;
    animation-direction: initial;
    z-index: 1000;
    text-align: center;
    padding: auto;
    justify-content: center;
}

.burger div>nav:hover {
    background-color: rgb(212, 191, 230);
    color: rgb(113, 87, 138);
}

nav {
    padding-top: 5%;
}

@keyframes anim {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}*/

.menu {
    display: grid;
    grid-template-columns: repeat(4, 26%);
    border-radius: 5px;
    background-color: rgba(142, 110, 173, 0.568);
    width: 75%;
    height: 60px;
    margin-left: 17%;
    vertical-align: middle;
    z-index: 1;
}

.menu_item {
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    padding-top: 7%;
}

.menu_item:hover {
    background-color: rgb(212, 191, 230);
    color: rgb(113, 87, 138);
}

.menu_item:active {
    background-color: rgb(113, 87, 138);
    color: rgb(212, 191, 230);
}

.notburger {
    width: 200px;
    height: 160px;
    cursor: pointer;
    margin-top: 10%;
}

.burger_body {
    width: 200px;
    height: 120px;
    margin-left: 100%;
}

.burger {
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    padding-top: 5%;
    text-align: center;
    width: 200px;
    height: 20px;
    margin-top: 1%;
    color: rgb(212, 191, 230);
    background-color: rgba(113, 87, 138, 0.726);
    cursor: pointer;
    color: white;
}

.burger:hover {
    background-color: rgb(212, 191, 230);
    color: rgb(113, 87, 138);
}